backend/uploads
backend/.jwt_secret
backend/dump.rdb
backend/dist
.vscode
backend/.env
backend/.env.test
backend/.env.local
# Cypress test artifacts
cypress/screenshots/
cypress/videos/

# Cypress cache and binary
node_modules/
.cypress/
