@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-irish-grover: 'Irish Grover', cursive;
  --font-joti-one: 'Joti One', sans-serif;
  --font-kaushan-script: 'Kaushan Script', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-joti-one);
}

h1 {
  font-family: var(--font-irish-grover);
}

h2 {
  font-family: var(--font-kaushan-script);
}

