@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-irish-grover: 'Irish Grover', cursive;
  --font-joti-one: 'Joti One', sans-serif;
  --font-kaushan-script: 'Kaushan Script', sans-serif;
  --button-background: #171717;
  --button-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button-background: #ededed;
    --button-foreground: #0a0a0a; 
  }
}

.text-xxs {
  font-size: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-joti-one);
}

button {
  background-color: #FBBF24;
  color: white;
  transition: background-color 0.3s ease-in-out;
  animation: gradientButton 18s ease infinite;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out, transform 0.4s ease-in-out;
}

button:hover {
  background-color: #DC2626;
  transform: scale(1.05);
  background-position: 100% 0%;
}

.custom-date-icon::-webkit-calendar-picker-indicator {
  filter: invert(1);
  background-color: white;

}

.custom-signup-button {
  background-color:  #4299e1;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1);
}

.custom-signup-button:hover {
  background-color: #48bb78;
  transform: scale(1.05);
}

.custom-gradient-button {
  background: linear-gradient(90deg, #FFB3B3, #FFC7B3, #A3C4DC);
  background-size: 400% 400%;
  animation: gradientButton 18s ease infinite;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out, transform 0.4s ease-in-out;
}

.custom-gradient-button:hover {
  transform: scale(1.05);
  background-position: 100% 0%;
}

h1 {
  font-family: var(--font-irish-grover);
}

h2 {
  font-family: var(--font-kaushan-script);
}

h3 {
  font-family: var(--font-irish-grover);
}

h4 {
  font-family: var(--font-joti-one);
}

.influencer-name {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.transition-transform {
  transition: transform 0.4s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1) rotate(0);
}

.bg-transition {
  background: linear-gradient(90deg, #FFD194, #FF7E5F, #FF3C3C);
  background-size: 400% 400%;
  animation: gradientBackground 18s ease infinite;
}


.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}


@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.flicker-text {
  font-size: 2rem;
  color: #FFFF00;
  text-shadow: 0 0 10px #005B96, 0 0 20px #FF2C2C, 0 0 30px #FF2C2C;
  animation: flickerAnimation 18s infinite alternate;
}

@keyframes flickerAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}
